.backIcon{
  padding: 0 20px;
}

.flatpage * {
  color: black !important;
  font-size: 30px;
}

.flapages .h1,
.flapages .h2,
.flapages .h3  {
  color: red !important;
}

.flapages .h2 {
  color: red !important;
}

