body {
  margin: 0 !important;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f9;
}

.am-list-body {
  border: none !important;
}

.am-list-body:after {
  display: none !important;
}
