@icon-url: "/iconfont/iconfont";

a {
  color: black !important;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 !important;
  background-color: #f5f5f9;
}


.sidebar {
  margin-top: 70px !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.overflow-scroll {
  overflow: scroll !important;
}
