.product {
  text-align: left;
}

.buy {
  border-top: 1px solid lightgray;
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.buyPrice {
  background-color: #f5f5f9;
  color: black;
  height: 0.7rem;
  line-height: 0.6rem;
  text-align: center;
  width: 100%;
}

.buyButton {
  background-color: #2474CC;
  color: white;
  height: 0.7rem;
  line-height: 0.6rem;
  text-align: center;
  width: 100%;
}
