.firstTabPane {
  margin-bottom: 30px;
}

.tabPaneArea {
  background-color: #fff;
  margin-bottom: 60px;
}

.availability {
  color: green;
  font-size: 24px;
}

.productCode {
  color: #b94a48;
  font-size: 24px;
}
